<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    
      <img
        src="../../../assets/proyectoImg/LogosInti.png"
        
      />
      <img
        src="../../../assets/proyectoImg/APLogo-20-20.png"
        
      />
    
    <a class="navbar-brand">German Pappalardo < Dev /></a>
    <form class="d-flex">
      <div class="btn btn-light">
        <a
          href="https://www.facebook.com/german.pappalardo.7/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa-brands fa-facebook-square fa-2xl"></i
        ></a>
      </div>
      <div class="btn btn-light">
        <a
          href="https://www.linkedin.com/in/german-pappalardo-1408a050/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa-brands fa-linkedin fa-2xl"></i
        ></a>
      </div>
      <div class="btn btn-light">
        <a
          href="https://github.com/gergp62"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa-brands fa-github-square fa-2xl"></i
        ></a>
      </div>
      <button class="btn btn-outline-success" type="submit">Login</button>
    
    </form>
  </div>
</nav>
