<div class="row g-0">
    <div class="col-md-1">
      <img src="../../../../assets/proyectoImg/Logo-Back-Door.jpg" class="img-fluid rounded-start" alt="Logo BackDoor">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <button type="button" (click)="onEdit()" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
        <button type="button" (click)="onDelete()" class="btn btn-light float-end"><i class="fa-solid fa-trash-can"></i></button>
        <h5 class="card-title">
          {{expItem.puesto}}      
          
        </h5>
        <p class="card-text">{{expItem.compania}}</p>
        <p class="card-text"><small class="text-muted">{{expItem.desde|date:"yyyy"}}-{{expItem.hasta|date:"yyyy"}}</small></p>
      </div>
    </div>
  </div>
