<section>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Acerca de
          <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
        </h5>
        <div class="card-body">
          <h6 class="card-title fw-normal">Agregar o modificar datos</h6>
          <form>
            <div class="mb-3">
              
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        
        <p class="card-text">{{sobremi}}</p>

      </div>
        
      </div>
    </div>
   
       
  </section>
