<section>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Educación
          <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-plus"></i></button></h5>
          <div class="card-body">
            <h6 class="card-title fw-normal">Agregar Educación</h6>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Institución</label>
                <input type="text" class="form-control" name="institucion" [(ngModel)] = "educacion.institucion" >
                
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Título</label>
                <input type="text" class="form-control" name="titulo" [(ngModel)] = "educacion.titulo">
                
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Desde</label>
                <input type="date" class="form-control" name="desde" [(ngModel)] = "educacion.desde">
                
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Hasta</label>
                <input type="date" class="form-control" name="hasta" [(ngModel)] = "educacion.hasta" >
                
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Logo Institución</label>
                <input class="form-control" type="file" id="formFile" name="logoInstitucion" [(ngModel)] = "educacion.logoInstitucion">
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        <div class="card border-0">
         <app-item-educacion *ngFor="let elemento of listaEducacion, let i=index"
         [eduItem] = "elemento"
         [index]="i"
         (onEditItem)="onEdit($event)"
         ></app-item-educacion> 
        </div>
        <!--<div class="row g-0">
          <div class="col-md-1">
            <img src="../../../assets/proyectoImg/cisco-logo-16.png" class="img-fluid rounded-start" alt="Logo Cisco">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-trash-can"></i></button>
              <h5 class="card-title">Cisco Networking Academy Program CCNA-CCNP.
                
                
              </h5>
              <p class="card-text">Diseñador, Instalador y Administrador de Redes.Routing Profesional.Acceso Remoto</p>
              <p class="card-text"><small class="text-muted">Fundación Proydesa.<br/>Julio 2002-Julio 2004</small></p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-1">
            <img src="../../../assets/proyectoImg/microsoft-certified-professional-logo.png" class="img-fluid rounded-start" alt="Logo Microsoft MCP">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-trash-can"></i></button>
              <h5 class="card-title">Microsoft Certified Profesional MCP
                
                
              </h5>
              <p class="card-text">Microsoft Certified System Administrador MCSA</p>
              <p class="card-text"><small class="text-muted">IT-College<br/>Enero 2003-Abril 2003</small></p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-1">
            <img src="../../../assets/proyectoImg/cisco-logo-16.png" class="img-fluid rounded-start" alt="Logo Cisco">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-trash-can"></i></button>
              <h5 class="card-title">Cisco CCNA Security
                
                
              </h5>
              <p class="card-text">Seguridad en redes informáticas.</p>
              <p class="card-text"><small class="text-muted">Fundación Proydesa<br/>Agosto 2014-Octubre 2014</small></p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-1">
            <img src="../../../assets/proyectoImg/arg-prog.jpg" class="img-fluid rounded-start" alt="Logo Argentina Programa">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-trash-can"></i></button>
              <h5 class="card-title">Argentina Programa etapa #Se Programar
                
                
              </h5>
              <p class="card-text">primera etapa del plan Argentina Programa,  Ministerio de Desarrollo Productivo Argetina y CESSI (Camara Argentina de Software).</p>
              <p class="card-text"><small class="text-muted">Julio 2021-Octubre 2021</small></p>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-1">
            <img src="../../../assets/proyectoImg/arg-prog.jpg" class="img-fluid rounded-start" alt="Logo Argentina Programa">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-trash-can"></i></button>
              <h5 class="card-title">Argentina Programa etapa #Yo Programo
                
                
              </h5>
              <p class="card-text">Segunda etapa del plan Argentina Programa,  Ministerio de Desarrollo Productivo Argetina y CESSI (Camara Argentina de Software).</p>
              <p class="card-text"><small class="text-muted"><strong> Desarrollador Web Full Stack </strong> <br/>Noviembre 2021-Mayo 2022</small></p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
   </div>    
</section>
