<div class="row g-0">
    <div class="col-md-1">
      <img src="../../../assets/proyectoImg/logo-utn.jpg" class="img-fluid rounded-start" alt="Logo UTN">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <button type="button" (click)="onEdit()" class="btn btn-light float-end"><i class="fa-solid fa-pen"></i></button>
        <button type="button" (click)="onDelete()" class="btn btn-light float-end"><i class="fa-solid fa-trash-can"></i></button>
        <h5 class="card-title">{{eduItem.titulo}}
          
          
        </h5>
        <p class="card-text">{{eduItem.institucion}}</p>
        <p class="card-text"><small class="text-muted">{{eduItem.desde|date:"yyyy"}}-{{eduItem.hasta|date:"yyyy"}}</small></p>
      </div>
    </div>
  </div>
