<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">
          Hard Skills & Soft Skills
          <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-plus"></i></button>
        </h5>
        <h6 class="card-title fw-normal">Agregar Skills</h6>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tipo</label>
            <input type="text" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label">Progreso</label>
            <input type="text" class="form-control" />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
            <h3>Hard & Soft Skills</h3>
            <div class="button"><i class="fa-solid fa-pen"></i></div>
            <div class="button"><i class="fa-solid fa-trash-can"></i></div>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 75%"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                HTML
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
