<section>
    <div class="card mb-3">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Proyectos
              <button type="button" class="btn btn-light float-end"><i class="fa-solid fa-plus"></i></button></h5>
              <div class="card-body">
                <h6 class="card-title fw-normal">Agregar Proyectos</h6>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre del Proyecto</label>
                    <input type="text" class="form-control" >
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Descripción</label>
                    <input type="text" class="form-control" >
                    
                  </div>
                                  
                  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            <app-item-proyecto *ngFor="let elemento of listaProyecto"
            [item]="elemento"
            >

            </app-item-proyecto>
            
          </div>
        </div>
      </div>
    </div>  
    
   
</section>
